[Unit]
Description=AirAlert Telegram Monitor Service
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=andru_bonus
# Path to project directory on target VM
WorkingDirectory=/home/andru_bonus/AirAlert_monitor
# Path to python in dedicated telethon_env virtualenv
ExecStart=/home/andru_bonus/telethon_env/bin/python main.py
Restart=always
RestartSec=10
KillMode=mixed
TimeoutStopSec=15

# Standard environment variables
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
